* {
  /* Sets the width, padding, margin, and height */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* Sets background color for page */
  background-color: #d9dcd6;
}

.header {
  padding: 20px;
  /* Sets font and backup fonts */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* Sets header background color */
  background-color: #2a607c;
  color: #ffffff;
}

.header h1 {
  /* Sets appearance and alignment behaviour of h1 element */
  display: inline-block;
  font-size: 48px;
  color: #d9dcd6;
}

.header nav {
  /* Sets position and font properties of links contained in nav element */
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  /* Sets alignment of li elements in nav */
  display: inline-block;
  margin-left: 25px;
}

a {
  /* Sets font color for links */
  color: #ffffff;
  text-decoration: none;
}

p {
  /* Sets font size for paragraphs */
  font-size: 16px;
}

.hero {
  /* Sets dimensions for main photo */
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  /* Sets left floating margin */
  float: left;
  margin-right: 25px;
}

.float-right {
  /* Sets right floating margin */
  float: right;
  margin-left: 25px;
}

#section {
  /* Sets width, margin, and display */
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  /* Sets alignment, width, and height for benefits aside */
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 18%;
  height: 100%;
  /* Sets background color and font */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefit-article {
  /* Sets font color and margin */
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-article h3 {
  /* Sets alignment for h3 tags under benefit articles */
  margin-bottom: 10px;
  text-align: center;
}

.benefit-article img {
  /* Sets alignment behaviour and width for img tags under benefit articles */
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.content {
  /* Sets the bottom margin, padding, and height of content */
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  /* Sets font family, background color, and font color */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.content img {
  /* Sets img height under content tag */
  max-height: 200px;
}

.content h2 {
  /* Sets bottom margin and font size for h2 elements under content */
  margin-bottom: 20px;
  font-size: 36px;
}

.footer {
  /* Sets dimensions and font for footer */
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  /* Sets font size for footer h2 elements */
  font-size: 20px;
}
